NODE-RED.json
[{"id":"cc5cebc4.2cf2b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"755b3ab2.618344","type":"debug","z":"cc5cebc4.2cf2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":742,"y":243,"wires":[]},{"id":"d298f88c.8ba858","type":"inject","z":"cc5cebc4.2cf2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":225,"wires":[["3319fb2a.81bb84"]]},{"id":"3319fb2a.81bb84","type":"function","z":"cc5cebc4.2cf2b8","name":"Token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"8265caae-0661-48f3-8bda-97a57937f20f\"\nvar password=\"0fcf909d-04d4-4efa-9ad6-fad1ff8f6d21\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"r\",msg.payload.r)\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":287,"wires":[["e00a1c03.36d4b"]]},{"id":"e00a1c03.36d4b","type":"http request","z":"cc5cebc4.2cf2b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":468,"y":291,"wires":[["e781ae69.3cc03","19ad3654.2a9e3a"]]},{"id":"e781ae69.3cc03","type":"function","z":"cc5cebc4.2cf2b8","name":"Prediction","func":"var token=msg.payload.token;\nvar t=global.get(\"t\");\nvar h=global.get(\"h\");\nvar r=global.get(\"r\");\nmsg.payload={\"fields\":[\"t\",\"h\",\"r\"],\"values\":[[t,h,r]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":164,"wires":[["273b2e42.3a0472"]]},{"id":"273b2e42.3a0472","type":"http request","z":"cc5cebc4.2cf2b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/baa3351f-8a6b-4a53-83e5-e7e7d5f1becc/deployments/2c3ccc7a-d3a0-480b-9143-9e08a2dd42be/online","tls":"","proxy":"","authType":"basic","x":432,"y":173,"wires":[["755b3ab2.618344","173425b0.06577a"]]},{"id":"173425b0.06577a","type":"function","z":"cc5cebc4.2cf2b8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":94.00000381469727,"wires":[["11cf33ad.f578dc"]]},{"id":"19ad3654.2a9e3a","type":"debug","z":"cc5cebc4.2cf2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":645,"y":358,"wires":[]},{"id":"d1a6ffbe.ae2f1","type":"ui_form","z":"cc5cebc4.2cf2b8","name":"","label":"","group":"53c95c90.fa8ba4","order":0,"width":0,"height":0,"options":[{"label":"Min. Temperature(C)","value":"t","type":"number","required":true},{"label":"Humidity(%)","value":"h","type":"number","required":true},{"label":"Rainfall","value":"r","type":"number","required":true}],"formValue":{"t":"","h":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":135,"y":363,"wires":[["3319fb2a.81bb84"]]},{"id":"11cf33ad.f578dc","type":"ui_text","z":"cc5cebc4.2cf2b8","group":"53c95c90.fa8ba4","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":749,"y":75,"wires":[]},{"id":"53c95c90.fa8ba4","type":"ui_group","z":"","name":"Default","tab":"fbf62451.5f2be8","disp":true,"width":"6","collapse":false},{"id":"fbf62451.5f2be8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]